<script>
import Box from './petitAmazon.svelte';
import { Col,
	Container,
	Row,
	Alert,
	Button
} from 'sveltestrap';
import { Icon } from 'sveltestrap';

let obj;
var total=0;
var payement = '';

function sumTotal(prix){
	total = total + prix;
	console.log(total)
}
function susTotal(prix){
	total = total - prix;
	console.log(total)
}
function payer(){
	payement = "payement accepté"
	viderPanier()
}

function viderPanier(){
	panier = [];
}

function remove(id){
	for( var i = 0; i < panier.length; i++){
		if ( panier[i].id === id) {
			var prix = panier[i].prix;
			panier.splice(i, 1);
			susTotal(prix);
		}
	};
	panier=panier;
}

$: panier = [] ;

function ajouterAuPanier(event) {
	var id = event.detail.text.id
	panier = [...panier, { id: event.detail.text.id, name: event.detail.text.name, prix: event.detail.text.prix, }]
	console.log(panier);
	var prix = event.detail.text.prix;
	sumTotal(prix);
	}

</script>
<!-- ################################################ -->
<main>
<Container>
	<Row>
    <Col sm={{ size: 12 }} class="text-center" >
			<h1>Petit amazon </h1>
		</Col>
  </Row>
	<Row>
		<Col xs="7">
			<Box bind:value={obj} on:ajouter={ajouterAuPanier}>
		</Box>
		</Col>
		<Col xs="5" >
			<div class="box" id="scroll">
				Mon panier :
					{#each panier as article }
						<Col>
							<Alert success toggle={() => remove(article.id)}>
								<h4 class="alert-heading">
									{article.name}
								</h4>
  						</Alert>
						</Col>
					{/each}
			</div>
			<div class="box" >
				<Col>Total: {total}</Col>
				<Col><Button color="success" on:click={payer}>Payer</Button></Col>
				<Col><p style="color: seagreen;">{payement}</p></Col>
			</div>
		</Col>
	</Row>
</Container>
</main>
<!-- ################################################ -->
<style>
.box {
	width: 300px;
	border: 1px solid #aaa;
	border-radius: 2px;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
	padding: 1em;
	max-height: 400px;
}
#scroll{
	overflow-y: scroll;
}
</style>
