<script>
import { createEventDispatcher } from 'svelte';
import {
	Button,
	Card,
	CardBody,
	CardHeader,
	CardText,
  CardTitle,
	Col,
	Container,
	Row
} from 'sveltestrap';

const dispatch = createEventDispatcher();
let articles = [
	{ id: 1, name: 'Laptop', prix:300 },
	{ id: 2, name: 'Mouse', prix:20 },
	{ id: 3, name: 'Keyboard', prix:50 },
	{ id: 4, name: 'Smartphone', prix:150 },
	{ id: 5, name: 'Monitor', prix:100 },
	{ id: 6, name: 'Headphones', prix:50 },
	{ id: 7, name: 'Microphone', prix:60 },
	{ id: 8, name: 'USB', prix:10 },
];

function click(id, name){
  console.log(id, name)
};

function ajouter(art) {
		dispatch('ajouter', {
			text: art
		});
	}

</script>
<!-- ################################################ -->
<Container>
	<Row>
		{#each articles as article }
			<Col xs="6">
				<Card class="mb-3" color="dark" inverse>
  				<CardHeader >
    				<CardTitle >{article.name}</CardTitle>
  				</CardHeader>
  				<Card body color="primary">
    				<CardText>
      				Valeur: {article.prix} EUR
    				</CardText>
    				<Button color="success" on:click={() => ajouter(article)} >Ajouter</Button>
  				</Card>
				</Card>
			</Col>
		{/each}
	</Row>
</Container>
<!-- ################################################ -->
<style>

</style>
